body{
	background : #cccccc;
}
h1 {
     text-align: center;
     text-transform: uppercase;
     color: ;
}

#banner {
	
	width: 250px;
	height: 250px;
}

.ent{
 display: inline-block
 f
